.admin-layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background: #203a43;
  padding: 20px;
  color: white;
}

.sidebar button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  background: #2c5364;
  color: white;
  cursor: pointer;
}

.admin-content {
  flex: 1;
  padding: 30px;
  background: #f4f6f8;
}
